# Trabalho Prático Laboratorial #2

- Usar PySpark?

In [1]:
# Import Modules
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [2]:

data_path = "../data"
forest_path = os.path.join(data_path, "forest-area", "API_AG.LND.FRST.K2_DS2_en_csv_v2_4019655.csv")
surface_path = os.path.join(data_path, "surface-area", "API_AG.SRF.TOTL.K2_DS2_en_csv_v2_4023648.csv")
header_rows =  [0, 2]

### 1. Qual variação da área florestal de cada país ao longo do tempo?

In [3]:
# Read Datasets
forest_data = pd.read_csv(forest_path, skiprows=header_rows)

# Removes row if all values are NaN
forest_data = forest_data.dropna(axis=0, how='all')

# Removes column if all values are NaN
forest_data = forest_data.dropna(axis=1, how='all')

### 2. Qual o rácio entre a área florestal e a área total de cada país?**

In [12]:
# Read Datasets
forest_data = pd.read_csv(forest_path, skiprows=header_rows)
surface_data = pd.read_csv(surface_path, skiprows=header_rows)

# Removes row if all values are NaN
forest_data = forest_data.dropna(axis=0, how='all')
surface_data = surface_data.dropna(axis=0, how='all')

# Removes column if all values are NaN
forest_data = forest_data.dropna(axis=1, how='all')
surface_data = surface_data.dropna(axis=1, how='all')

In [15]:
# Visualize data structure
forest_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Forest area (sq. km),AG.LND.FRST.K2,4.2,4.200,4.200,4.200,4.200,4.20,...,4.20,4.20,4.20,4.20,4.2,4.200000e+00,4.2,4.20,4.2,4.2
1,Africa Eastern and Southern,AFE,Forest area (sq. km),AG.LND.FRST.K2,4988232.4,4968316.114,4947640.628,4911134.742,4890838.856,4870542.97,...,4765400.98,4734211.36,4703021.74,4671832.12,4640642.5,4.607876e+06,4575901.2,4544314.78,4511676.2,4479395.0
2,Afghanistan,AFG,Forest area (sq. km),AG.LND.FRST.K2,12084.4,12084.400,12084.400,12084.400,12084.400,12084.40,...,12084.40,12084.40,12084.40,12084.40,12084.4,1.208440e+04,12084.4,12084.40,12084.4,12084.4
3,Africa Western and Central,AFW,Forest area (sq. km),AG.LND.FRST.K2,2060349.0,2049660.284,2038971.568,2028282.852,2017594.136,2006905.42,...,1862169.28,1854212.96,1846256.64,1838300.32,1830344.0,1.822961e+06,1815608.1,1807898.60,1800220.1,1792580.7
4,Angola,AGO,Forest area (sq. km),AG.LND.FRST.K2,792627.8,791073.630,789519.460,787965.290,786411.120,784856.95,...,716029.38,710478.76,704928.14,699377.52,693826.9,6.882762e+05,682725.7,677175.10,671624.4,666073.8

In [16]:
# Describe data
forest_data.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,...,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.610000e+02,2.610000e+02,2.570000e+02,2.570000e+02
mean,1.716940e+06,1.714981e+06,1.711027e+06,1.706319e+06,1.702496e+06,1.698673e+06,1.694851e+06,1.691028e+06,1.687205e+06,1.683383e+06,...,1.639866e+06,1.637200e+06,1.634535e+06,1.631870e+06,1.629205e+06,1.627007e+06,1.476944e+06,1.474458e+06,1.494767e+06,1.492194e+06
std,5.161549e+06,5.154155e+06,5.142815e+06,5.130501e+06,5.119503e+06,5.108515e+06,5.097539e+06,5.086574e+06,5.075620e+06,5.064677e+06,...,4.962221e+06,4.956107e+06,4.950007e+06,4.943920e+06,4.937848e+06,4.933129e+06,4.323285e+06,4.318040e+06,4.342049e+06,4.336621e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.239975e+03,3.376367e+03,3.436115e+03,3.504298e+03,3.542130e+03,3.579963e+03,3.604395e+03,3.600690e+03,3.596985e+03,3.593280e+03,...,3.382140e+03,3.366980e+03,3.351820e+03,3.336660e+03,3.321500e+03,3.306325e+03,3.291000e+03,3.237000e+03,3.685700e+03,3.695000e+03
50%,3.538585e+04,3.658068e+04,3.640565e+04,3.623062e+04,3.609940e+04,3.628148e+04,3.646355e+04,3.664562e+04,3.682770e+04,3.700977e+04,...,3.646397e+04,3.623324e+04,3.593452e+04,3.527616e+04,3.535905e+04,3.563085e+04,3.562600e+04,3.551000e+04,3.611090e+04,3.611090e+04
75%,2.767877e+05,2.764545e+05,2.761212e+05,2.757879e+05,2.754547e+05,2.751214e+05,2.747882e+05,2.744549e+05,2.741216e+05,2.737884e+05,...,2.728120e+05,2.726615e+05,2.725110e+05,2.723605e+05,2.722100e+05,2.722000e+05,2.493500e+05,2.493500e+05,2.798000e+05,2.798000e+05
max,4.128269e+07,4.121003e+07,4.113736e+07,4.106469e+07,4.099203e+07,4.091936e+07,4.084669e+07,4.077402e+07,4.070136e+07,4.062869e+07,...,4.012364e+07,4.009056e+07,4.005748e+07,4.002440e+07,3.999132e+07,3.995825e+07,3.066349e+07,3.061417e+07,3.056222e+07,3.051179e+07

In [17]:
surface_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Surface area (sq. km),AG.SRF.TOTL.K2,180.0,180.0,180.0,180.0,180.0,180.0,...,1.800000e+02,1.800000e+02,180.00,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,180.00,1.800000e+02
1,Africa Eastern and Southern,AFE,Surface area (sq. km),AG.SRF.TOTL.K2,12718531.0,12718531.0,12718531.0,12718531.0,12718531.0,12718531.0,...,1.263289e+07,1.263290e+07,15121164.46,1.512116e+07,1.512116e+07,1.512116e+07,1.512116e+07,1.512116e+07,15121155.64,1.512116e+07
2,Afghanistan,AFG,Surface area (sq. km),AG.SRF.TOTL.K2,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,...,6.528600e+05,6.528600e+05,652860.00,6.528600e+05,6.528600e+05,6.528600e+05,6.528600e+05,6.528600e+05,652860.00,6.528600e+05
3,Africa Western and Central,AFW,Surface area (sq. km),AG.SRF.TOTL.K2,9166270.0,9166270.0,9166270.0,9166270.0,9166270.0,9166270.0,...,9.166270e+06,9.166270e+06,9166270.00,9.166270e+06,9.166270e+06,9.166270e+06,9.166270e+06,9.166270e+06,9166270.00,9.166270e+06
4,Angola,AGO,Surface area (sq. km),AG.SRF.TOTL.K2,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,...,1.246700e+06,1.246700e+06,1246700.00,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1246700.00,1.246700e+06

In [18]:
surface_data.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,...,2.630000e+02,2.630000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.640000e+02
mean,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,...,5.211450e+06,5.211454e+06,5.317571e+06,5.318693e+06,5.324044e+06,5.324179e+06,5.324288e+06,5.324315e+06,5.324460e+06,5.344140e+06
std,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,...,1.526285e+07,1.526285e+07,1.549852e+07,1.550130e+07,1.551507e+07,1.551545e+07,1.551579e+07,1.551587e+07,1.551633e+07,1.554088e+07
min,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
25%,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,...,1.942500e+04,1.942500e+04,2.027000e+04,2.027000e+04,2.067500e+04,2.067500e+04,2.067500e+04,2.067500e+04,2.048000e+04,2.090000e+04
50%,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,...,1.967100e+05,1.967100e+05,1.999490e+05,1.999490e+05,1.999490e+05,1.999490e+05,1.999490e+05,1.999500e+05,1.999500e+05,2.037750e+05
75%,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,...,1.243445e+06,1.243445e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.251775e+06
max,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,...,1.317846e+08,1.317848e+08,1.342731e+08,1.343020e+08,1.345433e+08,1.345462e+08,1.345489e+08,1.345497e+08,1.345532e+08,1.345427e+08

### 3. Como se comparam os vários países do mundo a nível de incêndios?

### 4. Como se compara perda de floresta ao longo dos anos em cada país com os incêndios que ocorreram em cada um desses anos?

### 5. Como varia a área florestal ao longo dos anos com as atividades económicas (agricultura e mineração) de cada país?

### 6. Como se relacionam os diferentes tipos de floresta com a área florestal ardida?

### 7. Como se relaciona a densidade populacional com a área florestal em cada país ao longo do tempo?

### 8. Como se relaciona o PIB per capita com a desflorestação em cada país ao longo do tempo?

### 9. Como se relaciona a temperatura, precipitação, humidade, vento de cada país com os incêndios ocorridos por ano?

## Fim