# Trabalho Prático Laboratorial #2

- Usar PySpark?

In [4]:
# Import Modules
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [5]:

data_path = "../data"
forest_path = os.path.join(data_path, "forest-area", "API_AG.LND.FRST.K2_DS2_en_csv_v2_4019655.csv")
surface_path = os.path.join(data_path, "surface-area", "API_AG.SRF.TOTL.K2_DS2_en_csv_v2_4023648.csv")
header_rows =  [0, 2]

### 1. Qual variação da área florestal de cada país ao longo do tempo?

In [ ]:
# Read Datasets
forest_data = pd.read_csv(forest_path, skiprows=header_rows)

### 2. Qual o rácio entre a área florestal e a área total de cada país?**

In [7]:
# Read Datasets
forest_data = pd.read_csv(forest_path, skiprows=header_rows)
surface_data = pd.read_csv(surface_path, skiprows=header_rows)

In [11]:
forest_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.20,4.20,4.2,4.200000e+00,4.2,4.20,4.2,4.2,NaN,NaN
1,Africa Eastern and Southern,AFE,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4703021.74,4671832.12,4640642.5,4.607876e+06,4575901.2,4544314.78,4511676.2,4479395.0,NaN,NaN
2,Afghanistan,AFG,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,12084.40,12084.40,12084.4,1.208440e+04,12084.4,12084.40,12084.4,12084.4,NaN,NaN
3,Africa Western and Central,AFW,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,1846256.64,1838300.32,1830344.0,1.822961e+06,1815608.1,1807898.60,1800220.1,1792580.7,NaN,NaN
4,Angola,AGO,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,704928.14,699377.52,693826.9,6.882762e+05,682725.7,677175.10,671624.4,666073.8,NaN,NaN

In [8]:
forest_data.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.610000e+02,2.610000e+02,2.570000e+02,2.570000e+02,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.634535e+06,1.631870e+06,1.629205e+06,1.627007e+06,1.476944e+06,1.474458e+06,1.494767e+06,1.492194e+06,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950007e+06,4.943920e+06,4.937848e+06,4.933129e+06,4.323285e+06,4.318040e+06,4.342049e+06,4.336621e+06,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.351820e+03,3.336660e+03,3.321500e+03,3.306325e+03,3.291000e+03,3.237000e+03,3.685700e+03,3.695000e+03,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.593452e+04,3.527616e+04,3.535905e+04,3.563085e+04,3.562600e+04,3.551000e+04,3.611090e+04,3.611090e+04,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.725110e+05,2.723605e+05,2.722100e+05,2.722000e+05,2.493500e+05,2.493500e+05,2.798000e+05,2.798000e+05,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.005748e+07,4.002440e+07,3.999132e+07,3.995825e+07,3.066349e+07,3.061417e+07,3.056222e+07,3.051179e+07,NaN,NaN

In [9]:
surface_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,180.0,180.0,180.0,180.0,180.0,...,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,180.00,1.800000e+02,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,12718531.0,12718531.0,12718531.0,12718531.0,12718531.0,...,1.512116e+07,1.512116e+07,1.512116e+07,1.512116e+07,15121155.64,1.512116e+07,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,652860.0,652860.0,652860.0,652860.0,652860.0,...,6.528600e+05,6.528600e+05,6.528600e+05,6.528600e+05,652860.00,6.528600e+05,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,9166270.0,9166270.0,9166270.0,9166270.0,9166270.0,...,9.166270e+06,9.166270e+06,9.166270e+06,9.166270e+06,9166270.00,9.166270e+06,NaN,NaN,NaN,NaN
4,Angola,AGO,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,...,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1246700.00,1.246700e+06,NaN,NaN,NaN,NaN

In [10]:
surface_data.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
count,0.0,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,...,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.640000e+02,0.0,0.0,0.0,0.0
mean,NaN,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,5.313340e+06,...,5.324044e+06,5.324179e+06,5.324288e+06,5.324315e+06,5.324460e+06,5.344140e+06,NaN,NaN,NaN,NaN
std,NaN,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,1.539313e+07,...,1.551507e+07,1.551545e+07,1.551579e+07,1.551587e+07,1.551633e+07,1.554088e+07,NaN,NaN,NaN,NaN
min,NaN,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,2.027000e+00,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,NaN,NaN,NaN,NaN
25%,NaN,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,2.302750e+04,...,2.067500e+04,2.067500e+04,2.067500e+04,2.067500e+04,2.048000e+04,2.090000e+04,NaN,NaN,NaN,NaN
50%,NaN,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,2.112850e+05,...,1.999490e+05,1.999490e+05,1.999490e+05,1.999500e+05,1.999500e+05,2.037750e+05,NaN,NaN,NaN,NaN
75%,NaN,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,1.261925e+06,...,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.251775e+06,NaN,NaN,NaN,NaN
max,NaN,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,1.316353e+08,...,1.345433e+08,1.345462e+08,1.345489e+08,1.345497e+08,1.345532e+08,1.345427e+08,NaN,NaN,NaN,NaN

### 3. Como se comparam os vários países do mundo a nível de incêndios?

### 4. Como se compara perda de floresta ao longo dos anos em cada país com os incêndios que ocorreram em cada um desses anos?

### 5. Como varia a área florestal ao longo dos anos com as atividades económicas (agricultura e mineração) de cada país?

### 6. Como se relacionam os diferentes tipos de floresta com a área florestal ardida?

### 7. Como se relaciona a densidade populacional com a área florestal em cada país ao longo do tempo?

### 8. Como se relaciona o PIB per capita com a desflorestação em cada país ao longo do tempo?

### 9. Como se relaciona a temperatura, precipitação, humidade, vento de cada país com os incêndios ocorridos por ano?

## Fim